  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 550px}

  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }

  /* On small screens, set height to 'auto' for the grid */
  @media screen and (max-width: 767px) {
    .row.content {height: auto;}
  }


  .avatar-tiny {
    width: 20px;
    height:20px;
    border-radius: 50%;
  }

.dashboard-container {
  height:100%;
}


.profile-avatar {
  border-radius: 50%;
  margin-bottom:40px;
  width:150px;
  height:150px;
}

.profile-banner {
  max-width: 1250px;
  margin: 30px auto;
  margin-bottom:100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 400px;
  background-color: black;
  position: relative;
}


/* Media Query for Mobile */
@media screen and (max-width: 800px) {
  .profile-banner {
    margin: 30px auto;
    gap: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: center; /* Align items left on mobile */
    height: 500px; /* Adjust height for mobile */
    justify-content: space-between;
    position: relative; /* Add relative positioning for absolute positioning within */
  }

@media screen and (max-width: 1900) {
  .profile-banner {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: flex-start; /* Align items left on mobile */
    padding: 20px; /* Adjust padding for smaller screens */
    margin: 30px auto;
    height: 500px; /* Adjust height for mobile */
    justify-content: space-between;
    position: relative; /* Add relative positioning for absolute positioning within */
  }
}
}

.hover-link a:hover {
  text-decoration:underline;
}

.booking-container-past {
  height:500px;
}
