
 <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
            <% else %>
              <%= image_tag "avatar_placeholder.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
            <% end %>
<% user.dogs.each do |dog| %>
<ul>
  <li class="info-list">
    <%= link_to dog.name, dog_path(dog) %>
</li>
</ul>
 <% end %>
<p><%= user.address %></p>
