<div class="hero-banner-dogs">
  <div class="text-container">
    <h1>All Dogs</h1>
    <p>Change your life and learn to code at one of our campuses around the world.
    Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn-ghost" href="#">See more</a>
  </div>
</div>

<ul>
    <% @dogs.each do |dog| %>
  <li>
      <%= link_to dog.name, dog_path(dog) %>
  </li>
    <% end %>
</ul>
<%= link_to 'Create a Dog', new_dog_path, class: 'btn btn-primary btn-lg shadow-lg custom-button' %>
