.btn-ghost {
  width:100px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 100%;
  transition:  0.3s ease;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;

}

.btn-ghost:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.btn-secondary {
  margin-top:50px;
  width:100px;
  color: #000000;
  background-color:white;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 100%;
  transition:  0.3s ease;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.submit-btn-container {
  text-align: center; /* Align the button in the center */
  margin-bottom:10px;
}

.submit-btn {
  background-color: black;
  width: 100%; /* Make the button full width */
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 100%;
  transition: opacity 0.3s ease;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: #c7c7c7;
  color: #fff;
}
