.navbar-lewagon {
  padding:15px;
  justify-content: space-between;
  position: sticky; /* Make the navbar sticky */
  top:0;
  background: rgb(0, 0, 0);
  z-index:1000;
  padding:20px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.609);
}

.nav-link-title {
  font-family: 'GoodBoy', sans-serif;
  font-size:30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width:40px;
  height:40px;
  background-position: cover;
  border-radius:10px;
  object-fit: cover;
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
}


.navbar-nav .align-middle {
  margin-top: auto;
  margin-bottom: auto;
  display:flex;
}


.nav-item {
padding-left:10px;
color:white;
}

.navbar-nav {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: rgba(255, 255, 255, 0.72);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display:flex;

}

.avatar {
  width:45px;
  height:45px;
  border-radius:50%;
  }

  .avatar:hover {
    cursor:pointer;
  }
