.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width:40px;
  height:40px;
  background-position: cover;
  border-radius:10px;
  object-fit: cover;
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

.nav-item {
padding-left:10px;
color:white;
}

.navbar-nav {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: rgba(255, 255, 255, 0.72);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);

}

.avatar {
  width:45px;
  height:45px;
  border-radius:50%;
  }
